src/main/resources/customers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://marketplace.com/customers"
           xmlns:tns="http://marketplace.com/customers"
           elementFormDefault="qualified">

    <xs:element name="GetCustomerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetCustomerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer" type="tns:Customer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllCustomersRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="GetAllCustomersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customers" type="tns:Customer" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateCustomerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="money" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateCustomerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer" type="tns:Customer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Customer">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="money" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>

