src/main/resources/products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://marketplace.com/products"
           xmlns:tns="http://marketplace.com/products"
           elementFormDefault="qualified">

    <xs:element name="GetProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:Product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllProductsRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="GetAllProductsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="products" type="tns:Product" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="price" type="xs:decimal"/>
                <xs:element name="ownerId" type="xs:long" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:Product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Product">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="price" type="xs:decimal"/>
            <xs:element name="ownerId" type="xs:long" nillable="true"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>

